{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}>
    <div class="vertical animated bounceInDown">
        <div id="site-head-content" class="inner">

            {{#if @site.logo}}<a id="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@site.title}}</h1>
            <h2 class="blog-description">{{@site.description}}</h2>
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">
    <div style="position: relative; width: 80%; max-width: 1200px; margin: 4rem auto; color: #1c212b;">
        <button class="gh-search-icon" aria-label="search" data-ghost-search style="display: inline-flex; justify-content: left; align-items: center; width: 100%; height: 40px; padding: 10px; border: 2px; color: inherit; background-color: #fff; cursor: pointer; outline: none;">
            <svg width="20" height="20" fill="none" viewBox="0 0 24 24"><path d="M14.949 14.949a1 1 0 0 1 1.414 0l6.344 6.344a1 1 0 0 1-1.414 1.414l-6.344-6.344a1 1 0 0 1 0-1.414Z" fill="currentColor"/><path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-9 7a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" fill="currentColor"/></svg>
        </button>
    </div>
    <div style="position: relative; width: 80%; max-width: 1200px; margin: 4rem auto; background-color: transparent;">
        {{#get "tags" limit="all" include="posts,count.posts" order="count.posts desc"}}
            Posts by tag:
            {{#foreach tags}}
                <a href="{{url}}">{{name}}</a> <small>({{count.posts}})</small>{{^if @last}} | {{/if}}
            {{/foreach}}
        {{/get}}
    </div>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
</main>
